/* 
    Document   : home
    Created on : 1 avr. 2013, 00:11:11
    Author     : Florian Ajir <florianajir@gmail.com>
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body{
    background-image: url("../img/bg-black-linen.png");
    color: #ccc;
    text-align: center;
}
h1 {
    -webkit-text-shadow: 0px 0px 30px #777;
    -moz-text-shadow: 0px 0px 30px #777;
    text-shadow: 0px 0px 30px #777;
}
.icone-home, .lien-accueil, .icone-home:hover, .lien-accueil:hover{
    text-decoration: none;
    color: #ccc;
    /*display: block;*/
}
.icone-home:hover{
    text-decoration: none;
    text-shadow: 0px 0px 50px #777;
    color: #fff;
}
#lien-video, #lien-site {
    opacity: 0.3;
}
.text-enflamme{
    -webkit-text-shadow: 0 0 4px white, 0 -5px 4px #FFFF33, 2px -10px 6px #FFDD33, -2px -15px 11px #FF8800, 2px -25px 18px #FF2200;
    -moz-text-shadow: 0 0 4px white, 0 -5px 4px #FFFF33, 2px -10px 6px #FFDD33, -2px -15px 11px #FF8800, 2px -25px 18px #FF2200;
    text-shadow: 0 0 4px white, 0 -5px 4px #FFFF33, 2px -10px 6px #FFDD33, -2px -15px 11px #FF8800, 2px -25px 18px #FF2200;
    color: #000;
}
.icone-home{
    margin: 10px;
    font-size: 84px;
}
#boutons-accueil{
    margin-top: 50px;
    text-align: center;
}
.hero-unit{
    padding-top: 30px;
    background-color: transparent;
}
.hero-unit h1{
    margin-bottom: 30px;
}
.popover{
    color: black;
}